@{
    ViewBag.Title = "Angular Index Page";
    ViewBag.InitModule = "angularIndex";
}

<div data-ng-controller="angularIndexController">
    <span>Here is my very first AngularJS bound text: {{greeting}}</span>
</div>