<a href="#/" class="btn">Back</a>

<div>
    <div>{{topic.title}}</div>
    <div>{{topic.created | date: "medium"}}</div>
    <div>{{topic.body}}</div>

    <div data-ng-repeat="r in topic.replies">
        <div class="pull-right">{{r.created | date: "medium"}}</div>
        <div>{{r.body}}</div>
    </div>
</div>
<h3>Add Reply</h3>
<form  name="newReplyForm" novalidate data-ng-submit="addReply()">
    <fieldset>
        <div>
            <label for="body">Body</label>
            <textarea name="body" rows="5" cols="30" data-ng-model="newReply.body" required data-ng-minlength="15"></textarea>
            <span class="error" data-ng-show="newReplyForm.body.$error.required">*</span>
            <span class="error" data-ng-show="newReplyForm.title.$error.minlength">Minimum 15 characters</span>
        </div>
        <div>
            <input type="submit" class="btn" value="Save" data-ng-disabled="newReplyForm.$invalid" />
        </div>        
    </fieldset>    
</form>