@using System.Web.UI.WebControls
@section SPAViews {
    @Html.Partial("_Home")
}

@{
    ViewBag.Title = "Home Page";
    ViewBag.InitModule = "homeIndex";
}


@section Scripts{
    @*    @Scripts.Render("~/bundles/knockout")*@
    @*    @Scripts.Render("~/bundles/app")*@
    <script src="~/js/home-index.js"></script>

}

<div data-ng-view=""></div>